.orderDetailsMobile {
    width: 100%;
    background: #1C1C21;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 16px 8px;
    gap: 17px;
}
.orderButton{
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 196px;
    padding: 16px 30px;
}
.priceContainer {
    display: flex;
    align-items: center;
    gap: 9px;
}