.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    min-width: 300px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 65vh;
}
.material_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}
.tabs {
    display: flex;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .scroll {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 57vh;
    }
    .container {
        height:100%;
    }
    .heading{
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
}
@media screen and (max-width: 610px) {
    .scroll::-webkit-scrollbar {
        width: 0;
    }
    .container{
        height:80%;
        padding: 8px;
    }
    .material_container{
        gap: 16px 8px;
    }
}

@media screen and (max-width: 470px) {

}

@media screen and (max-width: 520px) {
    .scroll{
        box-sizing: border-box;
        max-height: 55vh;
    }
    .material_container{
        gap: 16px;
        padding: 16px 0 0 0;
    }
}
