.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    min-width: 300px;
    box-sizing: border-box;
    width: 100%;
}
.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
.material_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}
.tabs {
    display: flex;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .heading{
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
}
@media screen and (max-width: 610px) {
    .scroll::-webkit-scrollbar {
        width: 0;
    }
    .container{
        padding: 8px;
    }
    .material_container{
        gap: 16px 8px;
    }
}

@media screen and (max-width: 470px) {

}

@media screen and (max-width: 320px) {
    .material_container{
        gap: 16px;
        padding: 16px 0 0 0;
    }
}
