.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    min-width: 600px;
    box-sizing: border-box;
}
.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
.material_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}
