.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    overflow: hidden;
    max-height: 600px;
}
