.constructor{
    max-height: 90px;
    box-sizing: border-box;
    max-width: 536px;
    cursor: grab;
    display: flex;
    min-height: 90px;
}
.container {
    display: flex;
    align-items: center;
    gap: 8px;
}
