.content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 320px 857px;
    gap: 60px;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    height: 100%;
    overflow-y: hidden;
}
