.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-sizing: border-box;
}
.button {
    border: none;
    background: inherit;
    cursor: pointer;
    transition: opacity .5s ease;
    opacity: 1;
}
.button:hover{
    opacity: .6;
    transition: opacity .5s ease;
}

@media screen and (max-width: 560px) {
    .heading {
        font-size: 22px;
    }
}