.container{
    display: flex;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.orderHeader{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.headerText {
    height: 32px;
}
.closeButton {
    background: url("/src/images/close.svg") no-repeat center;
    width: 21px;
    height: 21px;
    border: none;
}

.ingredientsContainer {
    box-sizing: border-box;
    overflow-y: auto;
}
@media screen and (max-width: 1140px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 0;
        min-height: 100%;
    }
}
@media screen and (max-width: 610px) {
    .container {
        height: calc(100% - 64px);
    }
}
