.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 88px;
    box-sizing: border-box;
    background-color: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.nav {
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: .9fr 1.5fr .4fr 1fr .6fr 1fr 1.2fr;
}
.nav__item {
    display: flex;
    min-width: 178px;
}
.nav__item:nth-child(1){
    grid-column: 2/3;
    justify-content: center;
}
.nav__item:nth-child(2){
    grid-column: 4/4;
    min-width: 290px;
}
.nav__item:nth-child(3){
    grid-column: 6/6;
    display: flex;
    justify-content: flex-end;
}
