.container {
    border: 1px solid gold;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 600px;
}
.material_container {
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
}
