.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
.react-app {
    box-sizing: border-box;
    height: 100%;
}

.react-modals{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
