.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: calc(100vh - 60px);
    overflow: hidden;
}
.react-app {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.react-modals{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 538px) {
    .body {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
}