.material {
    max-height: 208px;
    max-width: 272px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    cursor: grab;
    transition: opacity .7s ease;
}
.material_active {
    border: 1px dot-dash green;
}

.material:hover{
    opacity: .7;
    transition: opacity .7s ease;
}
.material__price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}
.material__name {
    height: 48px;
    text-align: center;
}
.material__counter {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
}
.link {
    text-decoration: none;
    color: inherit;
}
.addIngredientButton {
    display: none;
    background: inherit;
    border: none;
    color: #4C4CFF;
}
@media screen and (max-width: 1150px) {
    .material {
        max-height: 230px;
    }
    .addIngredientButton{
        display: block;
        padding: 15px;
    }
}
@media screen and (max-width: 610px) {

}

@media screen and (max-width: 470px) {

}

@media screen and (max-width: 320px) {
    .material{
        max-width: 144px;
    }
    .materialImage{
        max-height: 72px;
    }
}